.body{
    background-color: "#525f7f";
}
.title{
    font-family: 'Merriweather', serif;
    font-size: 50px;
}
.subtitle{
    font-family: 'Merriweather', serif;
    font-size:30px;
}
.font-white{
    color: #fff;
    border-radius: 4px;
}
font-family-change{
    font-family: 'Merriweather', serif;
}